#!{{ omero_server_virtualenv_basedir }}/bin/python

import os
from subprocess import run
import sys

if not os.getenv('OMERODIR'):
    os.environ['OMERODIR'] = '{{ omero_server_omerodir }}'

paths = os.getenv('PATH', '').split(os.pathsep)
venv_bin = '{{ omero_server_virtualenv_basedir }}/bin'
ice_bin = '/opt/ice/bin'

if os.path.isdir(ice_bin) and ice_bin not in paths:
    paths.insert(0, ice_bin)
if venv_bin not in paths:
    paths.insert(0, venv_bin)

os.environ['PATH'] = os.pathsep.join(paths)

p = run(['{{ omero_server_virtualenv_basedir }}/bin/omero'] + sys.argv[1:])
sys.exit(p.returncode)
