#!{{ omero_web_virtualenv_basedir }}/bin/python

import os
from subprocess import run
import sys

if not os.getenv('OMERODIR'):
    os.environ['OMERODIR'] = '{{ omero_web_omerodir }}'

current_path = os.getenv('PATH', '')
venv_bin = '{{ omero_web_virtualenv_basedir }}/bin'
if not current_path.startswith(venv_bin + os.pathsep):
    os.environ['PATH'] = '{}{}{}'.format(venv_bin, os.pathsep, current_path)

p = run(['{{ omero_web_virtualenv_basedir }}/bin/omero'] + sys.argv[1:])
sys.exit(p.returncode)
