location /.well-known/ {
    alias /srv/www/letsencrypt/.well-known/;
}

listen 443 ssl;
ssl_certificate {{ (https_letsencrypt_enabled | default(False)) | ternary(https_letsencrypt_cert_path + '/fullchain.pem', ssl_certificate_public_path) }};
ssl_certificate_key {{ (https_letsencrypt_enabled | default(False)) | ternary(https_letsencrypt_cert_path + '/privkey.pem', ssl_certificate_key_path) }};

if ($ssl_protocol = "") {
    rewrite ^/(.*) https://$host/$1 permanent;
}