# {{ ansible_managed }}
# Add web-extension OMERO.web configuration
# after web already installed and running via role

# omero-figure
config append -- omero.web.apps '"omero_figure"'
config append -- omero.web.ui.top_links '["Figure", "figure_index", {"title": "Open Figure in new tab", "target": "_blank"}]'
config append -- omero.web.open_with '["omero_figure", "new_figure", {"supported_objects":["images"], "target": "_blank", "label": "OMERO.figure"}]'

# omero-fpbioimage
config append -- omero.web.apps '"omero_fpbioimage"'
config append -- omero.web.open_with '["omero_fpbioimage", "fpbioimage_index", {"supported_objects":["image"], "script_url": "fpbioimage/openwith.js", "label": "FPBioimage"}]'

# omero-iviewer
config append -- omero.web.apps '"omero_iviewer"'
config append -- omero.web.open_with '["omero_iviewer", "omero_iviewer_index", {"supported_objects":["images"], "script_url": "omero_iviewer/openwith.js", "label": "OMERO.iviewer"}]'

# omero-mapr
config append -- omero.web.apps '"omero_mapr"'
config set -- omero.web.mapr.config '[{"menu": "gene", "config": {"default": ["Gene Symbol"], "all": ["Gene Symbol", "Gene Identifier"], "ns": ["openmicroscopy.org/mapr/gene"], "label": "Gene"}}, {"menu": "keyvalue", "config": {"default": ["Any Value"], "all": [], "ns": ["openmicroscopy.org/omero/client/mapAnnotation"], "label": "KeyValue"}}]'

config append -- omero.web.ui.top_links '["Genes", {"query_string": {"experimenter": -1}, "viewname": "maprindex_gene"}, {"title": "Find Gene annotations"}]'

config append -- omero.web.ui.top_links '["Key-Value", {"viewname": "maprindex_keyvalue"}, {"title": "Search for manually-added Key-Value pairs"}]'

# omero-parade
config append -- omero.web.apps '"omero_parade"'
config append -- omero.web.ui.center_plugins '["Parade", "omero_parade/init.js.html", "omero_parade"]'
config append -- omero.web.ui.top_links '["Parade", "parade_index", {"title": "Search and filter in OMERO.parade"}]'

# Autotag
config append -- omero.web.apps '"omero_webtagging_autotag"'
config append -- omero.web.ui.center_plugins '["Auto Tag", "omero_webtagging_autotag/auto_tag_init.js.html", "auto_tag_panel"]'

# tagsearch
config append -- omero.web.apps '"omero_webtagging_tagsearch"'
config append -- omero.web.ui.top_links '["Tag Search", "tagsearch"]'
