---
# oauth section names must match [a-z][a-z0-9]+

providers:

  ######################################################################
  # Google OpenID
  - name: google
    displayname: Google
    url:
      # These 3 URLs will be found using OpenID discovery, uncomment to override
      #authorisation: https://accounts.google.com/o/oauth2/v2/auth
      #token:  https://oauth2.googleapis.com/token
      #userinfo: https://openidconnect.googleapis.com/v1/userinfo
      callback: https://{{ inventory_hostname }}/oauth/callback/google

    # https://console.developers.google.com/apis/credentials
    client:
      id: {{ oauth_google_client_id }}
      secret: {{ oauth_google_secret_id }}
      scopes:
        - openid
        - https://www.googleapis.com/auth/userinfo.email
        - https://www.googleapis.com/auth/userinfo.profile

    openid:
      # OpenID issuer, required for auto-discovery
      issuer: https://accounts.google.com
      # Uncomment to enable verification
      #verify: true

    # force to always make user click authorize
    authorization:
      params:
        prompt: select_account

    userinfo:
      type: openid

    user:
      # OMERO user name, template must contain {sub}
      name: 'google-{sub}'
      email: '{email}'
      firstname: '{given_name}'
      lastname: '{family_name}'


  ######################################################################
  # GitHub
  - name: github
    displayname: GitHub
    url:
      authorisation: https://github.com/login/oauth/authorize
      token: https://github.com/login/oauth/access_token
      userinfo: https://api.github.com/user
      callback: https://{{ inventory_hostname }}/oauth/callback/github

    # Create an OAuth app: https://github.com/settings/developers
    client:
      id: {{ oauth_github_client_id }}
      secret: {{ oauth_github_secret_id }}
      scopes:
        # Needs to exactly match the string returned by GitHub
        - 'read:user,user:email'

    userinfo:
      type: github

    user:
      # OMERO user name, template must contain {login}
      name: 'github-{login}'


  ######################################################################
  # ORCID
  - name: orcid
    displayname: ORCID
    url:
      authorisation: https://orcid.org/oauth/authorize
      token: https://orcid.org/oauth/token
      userinfo: https://pub.orcid.org/v2.1/{orcid}
      callback: https://{{ inventory_hostname }}/oauth/callback/orcid

    # https://support.orcid.org/hc/en-us/articles/360006897174
    client:
      id: {{ oauth_orcid_client_id }}
      secret: {{ oauth_orcid_secret_id }}
      scopes:
        - /authenticate

    userinfo:
      type: orcid

    user:
      # OMERO user name, template must contain {orcid}
      name: 'orcid-{orcid}'
