# {{ ansible_managed }}
# Allow self-signups

# https://pypi.org/project/omero-signup/
config append -- omero.web.apps '"omero_signup"'
config set -- omero.web.signup.host localhost
config set -- omero.web.signup.admin.user {{ secret_omero_web_signup_admin_user | default('root') }}
config set -- omero.web.signup.admin.password {{ secret_omero_web_signup_admin_password | default('omero') }}
config set -- omero.web.signup.group.name %Y-%m
config set -- omero.web.signup.group.templatetime true
config set -- omero.web.signup.email.enabled true
config set -- omero.web.signup.helpmessage 'If you have trouble creating an account please contact {{ omero_server_mail_from | default('help@example.org') }}'
config set -- omero.web.signup.email.body '{{ omero_signup_email_body }}'
  omero.web.signup.email.body '
  Thank you for creating an account on demo.openmicroscopy.org server.
  Your login details are \n\nusername: {username}\npassword:
  {password}\n
  Use these login details in\n
  1. your browser, go to\n
  demo.openmicroscopy.org\n
  and log in.\n
  2. download the OMERO.insight [1] desktop application to import your first data into OMERO.\n
  3. Following the steps in the omero-guide [2], change the server address to\n
  demo.openmicroscopy.org\n
  and connect to the OMERO server using the login details as above and import your data.\n
  OME Team\n
  [1] https://omero-guides.readthedocs.io/en/latest/upload/docs/import-desktop-client.html \n
  [2] https://omero-guides.readthedocs.io/en/latest/upload/docs/import-desktop-client.html#step-by-step \n'
